.containerDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}
.inputsDiv,.formDiv{
    display: flex;
    flex-direction: column;
    gap: 20px;
}